{% comment %}
  Affiche les 3 derniers articles dans des Bootstrap Cards.
{% endcomment %}

{% for post in site.posts limit: 3 %}
  <div class="card w-100 mb-3 border-2">
    {% if post.thumbnail %}
      {% assign tn_url = post.thumbnail %}
      {% assign has_scheme = "http" == post.thumbnail | slice: 0,4 %}
      {% if has_scheme == false and site.static %}
        {% assign tn_url = tn_url | prepend: "/" | prepend: site.static %}
      {% endif %}
      <div class="w-100" style="max-height: 200px">
        <img src="{{ tn_url }}" class="card-img-top" style="height: 100%; object-fit: cover" />
      </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ post.title | slice: 0, 40 }}</h5>
      <p class="card-text mb-0">{{ post.excerpt | strip_html | slice: 0, 300 | append: "..." }}</p>
      <p class="text-end fst-italic mb-0"><a href="{{ post.url }}" class="link-primary">Lire la suite ...</a></p>
    </div>
  </div>
{% endfor %}
