{% comment %}
  Affiche les 3 derniers articles dans des Bootstrap Cards.
{% endcomment %}

{% for post in site.posts limit: 5 %}
  <div class="card w-100 mb-3 border-2">
    {% if post.thumbnail %}
      {% assign tn_url = post.thumbnail %}
      {% assign tn_prefix = post.thumbnail | slice: 0,4 %}
      {% if tn_prefix != "http" and site.static %}
        {% assign tn_url = tn_url | prepend: "/" | prepend: site.static %}
      {% endif %}
      <img src="{{ tn_url }}" class="card-img-top" style="max-height: 200px; object-fit: cover" />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ post.title }}</h5>
      <p class="card-text mb-0">{{ post.excerpt | strip_html | slice: 0, 300 | append: "..." }}</p>
      <p class="text-end fst-italic mb-0"><a href="{{ post.url }}" class="link-primary">Lire la suite ...</a></p>
    </div>
  </div>
{% endfor %}
